body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,


h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

h3 {
  font-weight: 300;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  margin: 15px 0px;
}
